.content-button {
  border: none !important;
  border-radius: 20px !important;
  background: linear-gradient(to top,#0374c3, #188ad9) !important;
  font-size: 13px!important;
  padding: 3px 23px!important;
}
